<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582508345590-3lh4civqmc5cbjl8v6hmbcmmg2fplpvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582508345590-3lh4civqmc5cbjl8v6hmbcmmg2fplpvp</string>
	<key>API_KEY</key>
	<string>AIzaSyC4miKsjwMmT9BDJiWSi8fWdZsK9zw5QYI</string>
	<key>GCM_SENDER_ID</key>
	<string>582508345590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mineo.jp.mac.pop.soku</string>
	<key>PROJECT_ID</key>
	<string>ios-quiz-yuuki</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-quiz-yuuki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582508345590:ios:fbfdaaa63b995fbeef14d7</string>
	<key>DATABASE_URL</key>
	<string>https://ios-quiz-yuuki.firebaseio.com</string>
</dict>
</plist>